{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint", "simple-import-sort", "import"],
  "rules": {
    "simple-import-sort/imports": [
      "error",
      {
        // The default grouping, but adds regex for lib imports.
        "groups": [["^\\u0000"], ["^node:"],  ["^vue", "^@?\\w"],  ["^(@orm-lib|@ui-lib)$" , "^" ], [ "^\\."]]
      }
    ],
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/named": "off",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": ["error", {
      "ignore": ["@/", "./", "@ui-lib", "@orm-lib", "@chart-lib"]
    }],
    "no-unused-vars": "off"
  },
  "ignorePatterns": ["dist"]
}