@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PressStart";
  src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf');
  font-weight: 400;
}